<a href="https://colab.research.google.com/github/yes-kr/yoones/blob/master/my0427.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [12]:
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [37]:
import pandas as pd

df = pd.read_csv('/content/gdrive/My Drive/TSA.csv')
print(df)

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [38]:
df['Length']

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [0]:
x=df[['Length']]

In [40]:
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [16]:
type(x)

pandas.core.frame.DataFrame

In [41]:
small_data=df.iloc[2:4]
small_data

            Artist                      Album  ...  Soundtrack Rating
2       Pink Floyd  The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston              The Bodyguard  ...           Y    8.5

[2 rows x 10 columns]

In [42]:
simple_data=df.iloc[0:2, 0:3]
simple_data

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [43]:
df.iloc[0,1]

'Thriller'

In [45]:
df.loc[0, 'Artist']

'Michael Jackson'

In [0]:
t=df.loc[0:2, 'Artist':'Soundtrack']

In [47]:
t

            Artist                      Album  ...  Released.1 Soundtrack
0  Michael Jackson                   Thriller  ...   30-Nov-82        NaN
1            AC/DC              Back in Black  ...   25-Jul-80        NaN
2       Pink Floyd  The Dark Side of the Moon  ...   01-Mar-73        NaN

[3 rows x 9 columns]

In [48]:
columns= list(df)
for i in columns:
  print(df[i][0])

Michael Jackson
Thriller
1982
0:42:19
pop, rock, R&B
46.0
65
30-Nov-82
nan
10.0

In [50]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

#03

In [0]:
filter1= df["Released.1"]<"1979"

In [0]:
filter2= df["Music Recording Sales (millions)"]>24.0

In [62]:
small_database=df.where(filter1&filter2)
small_database

            Artist                            Album  ...  Soundtrack Rating
0              NaN                              NaN  ...         NaN    NaN
1              NaN                              NaN  ...         NaN    NaN
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4              NaN                              NaN  ...         NaN    NaN
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6              NaN                              NaN  ...         NaN    NaN
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

#04

In [0]:
filter3="rock" in small_database["Genre"]

In [0]:
df.where(filter3, inplace=True)

In [0]:
print(small_database.where("rock" in small_database[["Genre"]]))

In [81]:
real_data=small_database.where( "rock" in small_database["Genre"])

NameError: ignored